
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

<div class="agile-its">

    <h2>Unfortunately we do not have any offers for you at the moment</h2>

    <div class="mainlayouts">

        <div class="agileinfo-row" align="center">

            <input class="button" type="button" value="Main page" onclick="location.href='@Url.Action("index", "Home")'" />

            <div class="clear"> </div>

        </div>
    </div>
</div>