
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

<div class="agile-its">

    <h2>We offer - Vanquis Credit Card</h2>

    <div class="mainlayouts">

        <div class="agileinfo-row" align="center">
            <img src="https://www.vanquis.co.uk/media/333649/credit_card_blue_straight_small-1.png" height="130" width="190"><br />


            <div class="txt-lt">
                <pre>* Manageable credit card limit between £150 and £1,000

* Good for credit building

* You could get a Credit Limit increase after your 5th statement

* Online and SMS account management

* See if you'll be accepted for a credit card today with no risk</pre>
            </div><br />

            <h2>Representative 39.9% APR (variable)</h2><br/>

            <input class="button" type="button" value="Main page" onclick="location.href='@Url.Action("index", "Home")'" />

            <div class="clear"> </div>

        </div>
    </div>
</div>

