@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

<div class="agile-its">

    <h2>We offer - Barclaycard Initial</h2>

    <div class="mainlayouts">
        
        <div class="agileinfo-row" align="center">
            <img src="http://www.banksloveme.com/CreditCardImg/Barclaycard2.PNG" height="130" width="190"><br />


            <div class="txt-center">Looking for your first card or have a limited credit history?</div><br />

            <div class="txt-lt">
                <pre>* 34.9% Representative APR (variable) 
* 34.9% Purchase rate p.a. (variable) 
* £1,200 Assumed credit limit</pre>
            </div><br />

            <p>0% interest on purchases for three months from the date you open your account!</p><br/>

                <input class="button" type="button" value="Main page" onclick="location.href='@Url.Action("index", "Home")'" />
        
            <div class="clear"> </div>

            </div>
        </div>
</div>


        

